
$color-black: #000000;
$color-light-black: rgba(43, 41, 45, 0.6);
$color-grey: #e3e3e3;
$color-white: #fff;
$color-white-light: #F4F5F7;
$color-light-blue: rgba(49, 65, 197, 1);
$color-blue: #3142C6;
$color-dark-blue: #3040c4;
$color-pink: #F3C6BD;

$text-color-green: #009B4D;
$text-color-light-grey: #2b292d99;
$text-color-black-main: #2B292D;
$text-color-light-black: rgba(43, 41, 45, 0.6);
$text-color-white: #fff;
$text-color-blue: #3142C6;
$text-color-dark-blue: #3040c4;
$text-color-orange: #F1592B;

$border-color-grey: #e3e3e3;
$border-color-blue: #3142C6;
$background-color-dark-blue: #3040c4;
